In [ ]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
database_name = 'metal_fab'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = """SELECT 
jmp_customer_organization_id, COUNT(*) AS job_count
FROM jobs
GROUP BY jmp_customer_organization_id
ORDER BY job_count DESC;"""

In [ ]:
with engine.connect() as connection:
    metal_fab = pd.read_sql(text(query), con = connection)

metal_fab.head(10)

In [ ]:
metal_fab['job_count'].sum()

In [ ]:
metal_fab['job_percentage'] = round((metal_fab['job_count'] / metal_fab['job_count'].sum()*100), 2)
metal_fab.head(10)

In [ ]:
top10_cx = metal_fab.head(10)
top10_cx

In [ ]:
sns.barplot(data=top10_cx, x='job_count', y='job_percentage', hue='jmp_customer_organization_id', edgecolor='black', color='white')
plt.xlabel('Job Count')
plt.ylabel('Job Percent of Total')
plt.title('Top 10 Customer Jobs')
plt.legend(bbox_to_anchor = (1, 0.8), loc = 'upper left')
plt.show()
#gist_gray or gist_gray_r

In [ ]:
top10_cx['job_percentage'].sum()

In [ ]:
metal_fab['job_percentage'] = round((metal_fab['job_count'] / metal_fab['job_count'].sum()*100), 2)
metal_fab.head(10)

In [ ]:
metal_fab['job_percentage'].sum() - (24.55 + 7.51 + 6.29 + 6.01 + 5.22)

In [ ]:
organizations = ['S039-SMI', 'M030-MORGO', 'Y002-YNGTC', 'S046-SPOC	', 'M026-MIURA', 'Other']
job_count = [6.29, 24.35, 6.01, 7.51, 5.22, 50.39]

plt.figure(figsize=(6, 6))
plt.pie(job_count, labels=organizations, autopct='%1.1f%%', startangle=120, colors=plt.cm.Paired.colors)

# Title
plt.title('Total Jobs Distribution by Customer Organization')

# Show the plot
plt.axis('equal')  # Equal aspect ratio ensures that pie chart is circular
plt.show()

In [ ]:
with engine.connect() as connection:
    jobs_count = pd.read_sql(text('''


                          
SELECT jmp_customer_organization_id, COUNT(*) AS job_count
FROM jobs 
GROUP BY jmp_customer_organization_id
ORDER BY job_count DESC
   
                              '''), con=connection)

In [ ]:
jobs_count = jobs_count.head(10)

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='jmp_customer_organization_id', y='job_count', data=jobs_count, color='red')
plt.xticks(rotation=45, ha='right')
plt.title('Total jobs by Customer Organization', fontsize=16)
plt.xlabel('Customer Organization ID', fontsize=12)
plt.ylabel('Total jobs', fontsize=12)
plt.savefig("jobs_count.png", transparent=True)
plt.tight_layout()
plt.show()

In [ ]:
with engine.connect() as connection:
    jobs_over_time = pd.read_sql(text('''
select jmp_job_id,jmo_estimated_production_hours, jmp_job_date
from job_operations_2023 INNER JOIN jobs
on jmp_job_id=jmo_job_id  '''), con=connection)
jobs_over_time['jmp_job_date'] = pd.to_datetime(jobs_over_time['jmp_job_date'])

jobs_over_time['quarter'] = jobs_over_time['jmp_job_date'].dt.to_period('Q')

In [ ]:
plt.figure(figsize=(10, 6))

# Use seaborn's lineplot to plot time over hours
sns.lineplot(x='jmp_job_date', y='jmo_estimated_production_hours', data=jobs_over_time, hue='quarter', marker='o', color='red')

# Customize the plot
plt.title('Estimated Production Hours Over Time by Quarter', fontsize=16)
plt.xlabel('Date', fontsize=12)
plt.ylabel('Estimated Production Hours', fontsize=12)
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
with engine.connect() as connection:
    job_hrs24 = pd.read_sql(text(

    """SELECT  jmp_customer_organization_id,
   		 EXTRACT(YEAR FROM jmp_job_date) AS year,
   		 ROUND(SUM(jmo_actual_production_hours)::numeric, 2) AS total_production_hours
FROM jobs
INNER JOIN job_operations_2024
ON jmp_job_id = jmo_job_id
WHERE EXTRACT(YEAR FROM jmp_job_date) = 2024
GROUP BY jmp_customer_organization_id, year
ORDER BY total_production_hours DESC, jmp_customer_organization_id DESC"""), con=connection)

In [ ]:
job_hrs24

In [ ]:
with engine.connect() as connection:
    job_hrs23 = pd.read_sql(text(

    """SELECT  jmp_customer_organization_id,
   		 EXTRACT(YEAR FROM jmp_job_date) AS year,
   		 ROUND(SUM(jmo_actual_production_hours)::numeric, 2) AS total_production_hours
FROM jobs
INNER JOIN job_operations_2023
ON jmp_job_id = jmo_job_id
WHERE EXTRACT(YEAR FROM jmp_job_date) = 2023
GROUP BY jmp_customer_organization_id, year
ORDER BY total_production_hours DESC, jmp_customer_organization_id DESC"""), con=connection)

In [ ]:
job_hrs23

In [ ]:
with engine.connect() as connection:
    jobs_over_time = pd.read_sql(text('''
select jmp_job_id,jmo_estimated_production_hours, jmp_job_date
from job_operations_2023 INNER JOIN jobs
on jmp_job_id=jmo_job_id  '''), con=connection)
    
jobs_over_time['jmp_job_date'] = pd.to_datetime(jobs_over_time['jmp_job_date'])

jobs_over_time

In [ ]:
jobs_over_time['month'] = jobs_over_time['jmp_job_date'].dt.to_period('M')
jobs_over_time

In [ ]:
plt.figure(figsize=(10, 6))

# Use seaborn's lineplot to plot time over hours
sns.lineplot(x='jmp_job_date', y='jmo_estimated_production_hours', data=jobs_over_time, hue='month', marker='o', color='red')

# Customize the plot
plt.title('Estimated Production Hours Over Time by Month', fontsize=16)
plt.xlabel('Date', fontsize=12)
plt.ylabel('Estimated Production Hours', fontsize=12)
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.legend(bbox_to_anchor = (1, 0.8), loc = 'upper left')
plt.savefig("jobs_over_time.png", transparent=True)
# Show the plot
plt.tight_layout()
plt.show()