In [1]:
from sqlalchemy import create_engine, text

In [2]:
database_name = 'metalworking'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
import pandas as pd

In [5]:
query = '''WITH job_operations AS (SELECT jmo_job_id AS job_id, 
								jmo_process_short_description AS short_description, 
								jmo_process_id AS process_id 
							FROM job_operations_2023
								UNION
						SELECT jmo_job_id AS job_id, 
								jmo_process_short_description AS short_description, 
								jmo_process_id AS process_id
							FROM job_operations_2024),
	jobs_clean AS (SELECT jmp_job_id AS job_id,
							to_char(jmp_created_date, 'YYYY-MM-DD')::DATE AS created_date,
							to_char(jmp_production_due_date, 'YYYY-MM-DD')::DATE AS production_due_date,
							to_char(jmp_completed_date, 'YYYY-MM-DD')::DATE AS completed_date,
							jmp_part_id, 
							jmp_order_quantity, 
							jmp_production_quantity
							FROM jobs)
SELECT *,
	completed_date - created_date AS open_close_days,
	completed_date - production_due_date AS due_date_diff,
	CASE
	  WHEN (completed_date - production_due_date) > 0 THEN 'Late'
	  WHEN (completed_date - production_due_date) IS NULL THEN 'Incomplete'
	ELSE
	  'On-time'
	END AS completion_status
FROM job_operations
LEFT JOIN jobs_clean
	USING(job_id)
ORDER BY created_date'''

In [6]:
with engine.connect() as connection:
    metal_work = pd.read_sql(text(query),con = connection)

metal_work.head()

,job_id,short_description,process_id,created_date,production_due_date,completed_date,jmp_part_id,jmp_order_quantity,jmp_production_quantity,open_close_days,due_date_diff,completion_status
0,27563-0004-001,WRAP,WRAP,2023-01-02,2023-02-07,2023-02-21,S039-0304,270.0,270.0,50.0,14.0,Late
1,27559-0004-001,MANUAL PRESS BRAKE,PB,2023-01-02,2023-01-17,2023-01-23,S039-0304,40.0,40.0,21.0,6.0,Late
2,27559-0004-001,WRAP,WRAP,2023-01-02,2023-01-17,2023-01-23,S039-0304,40.0,40.0,21.0,6.0,Late
3,27560-0001-001,LASER CUTTING,LASER,2023-01-02,2023-01-24,2023-01-23,S039-0302,50.0,50.0,21.0,-1.0,On-time
4,27560-0001-001,MANUAL PRESS BRAKE,PB,2023-01-02,2023-01-24,2023-01-23,S039-0302,50.0,50.0,21.0,-1.0,On-time

In [7]:
query = '''SELECT jmo_process_id, COUNT(jmo_process_id) AS count_process_2023
FROM jobs
		INNER JOIN job_operations_2023 ON jobs.jmp_job_id = job_operations_2023.jmo_job_id
WHERE jmo_start_date>= '2023-01-01 00:00:00' AND jmo_start_date<= '2023-10-31 00:00:00'
GROUP BY jmo_process_id
ORDER BY count_process_2023 DESC'''

In [8]:
with engine.connect() as connection:
    metal_work_2023 = pd.read_sql(text(query),con = connection)

metal_work_2023.head(5)

  jmo_process_id  count_process_2023
0          LASER                9030
1           WRAP                7223
2             PB                6938
3          PCOAT                2222
4          PUNCH                1462

In [9]:
query = '''SELECT jmo_process_id, COUNT(jmo_process_id) AS count_process_2024
FROM jobs
		INNER JOIN job_operations_2024 ON jobs.jmp_job_id = job_operations_2024.jmo_job_id
WHERE jmo_start_date>= '2024-01-01 00:00:00' AND jmo_start_date<= '2024-10-31 00:00:00'
GROUP BY jmo_process_id
ORDER BY count_process_2024 DESC'''

In [10]:
with engine.connect() as connection:
    metal_work_2024 = pd.read_sql(text(query),con= connection)

metal_work_2024.head(5)

  jmo_process_id  count_process_2024
0          LASER               10157
1             PB                6222
2           WRAP                5157
3          PCOAT                2955
4           WELD                1427

In [28]:
query = '''
WITH job_operations AS(SELECT jmo_job_id, jmo_process_short_description, jmo_estimated_production_hours
					  FROM job_operations_2023
					  UNION 
					  SELECT jmo_job_id, jmo_process_short_description, jmo_estimated_production_hours
					  FROM job_operations_2024),

other_tables AS 
(SELECT * 
FROM sales_order_job_links INNER JOIN jobs ON omj_job_id = jmp_job_id
                           INNER JOIN job_operations ON jmp_job_id = jmo_job_id)
						   
SELECT DISTINCT oml_sales_order_line_id, jmo_process_short_description, jmo_estimated_production_hours, jmp_scheduled_due_date, jmp_scheduled_start_date, jmp_completed_date, oml_sales_order_id, oml_part_id, oml_part_short_description, oml_order_quantity, oml_full_unit_price_base, oml_full_extended_price_base, omp_full_order_subtotal_base
FROM sales_order_lines INNER JOIN sales_orders ON omp_sales_order_id = oml_sales_order_id
                       INNER JOIN other_tables ON oml_sales_order_id = omj_sales_order_id'''

In [30]:
with engine.connect() as connection: 
    chris_fun = pd.read_sql(text(query), con= connection)

chris_fun.head()

,oml_sales_order_line_id,jmo_process_short_description,jmo_estimated_production_hours,jmp_scheduled_due_date,jmp_scheduled_start_date,jmp_completed_date,oml_sales_order_id,oml_part_id,oml_part_short_description,oml_order_quantity,oml_full_unit_price_base,oml_full_extended_price_base,omp_full_order_subtotal_base
0,1,***QUALITY ALERT POSTED FOR LASER OPERATION 5/...,0.14,2023-11-29,2023-11-21,2023-11-16 10:12:34,32558,C006-0341,"KBC03837 - BRACKET, 12 MFD CAP, FR CHARGER",15,6.10,91.50,3214.10
1,1,***QUALITY ALERT POSTED FOR LASER OPERATION 5/...,0.14,NaT,NaT,2023-01-31 10:24:23,28055,C006-0205,"208-8136-00A - BRACKET, FA ALARM BOARD ***C OF...",60,6.58,394.80,584.20
2,1,**HOLES WILL BE DRILLED AND TAPPED AT STANDARD...,0.32,2024-02-07,2023-12-20,2024-02-09 08:33:10,32674,S025-0543,1418-01085-0S COVER,40,7.76,310.40,36624.34
3,1,**HOLES WILL BE DRILLED AND TAPPED AT STANDARD...,0.32,2024-07-03,2024-06-04,2024-07-08 10:28:45,34110,S025-0543,1418-01085-0S COVER,40,7.76,310.40,73028.21
4,1,**HOLES WILL BE DRILLED AND TAPPED AT STANDARD...,0.58,2023-05-03,2023-03-30,2023-05-25 15:15:09,29145,S025-0454,1421-01015-0 ENGINE SYSTEM,36,68.68,2472.48,5275.68

In [ ]:
chris_fun

In [22]:
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline