In [1]:
from sqlalchemy import create_engine, text

In [7]:
database_name = 'metalworking'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [9]:
engine = create_engine(connection_string)

In [11]:
import pandas as pd

In [13]:
query = '''WITH job_operations AS (SELECT jmo_job_id AS job_id, 
								jmo_process_short_description AS short_description, 
								jmo_process_id AS process_id 
							FROM job_operations_2023
								UNION
						SELECT jmo_job_id AS job_id, 
								jmo_process_short_description AS short_description, 
								jmo_process_id AS process_id
							FROM job_operations_2024),
	jobs_clean AS (SELECT jmp_job_id AS job_id,
							to_char(jmp_created_date, 'YYYY-MM-DD')::DATE AS created_date,
							to_char(jmp_production_due_date, 'YYYY-MM-DD')::DATE AS production_due_date,
							to_char(jmp_completed_date, 'YYYY-MM-DD')::DATE AS completed_date,
							jmp_part_id, 
							jmp_order_quantity, 
							jmp_production_quantity
							FROM jobs)
SELECT *,
	completed_date - created_date AS open_close_days,
	completed_date - production_due_date AS due_date_diff,
	CASE
	  WHEN (completed_date - production_due_date) > 0 THEN 'Late'
	  WHEN (completed_date - production_due_date) IS NULL THEN 'Incomplete'
	ELSE
	  'On-time'
	END AS completion_status
FROM job_operations
LEFT JOIN jobs_clean
	USING(job_id)
ORDER BY created_date'''

In [15]:
with engine.connect() as connection:
    metal_work = pd.read_sql(text(query),con = connection)

metal_work.head()

,job_id,short_description,process_id,created_date,production_due_date,completed_date,jmp_part_id,jmp_order_quantity,jmp_production_quantity,open_close_days,due_date_diff,completion_status
0,27563-0004-001,WRAP,WRAP,2023-01-02,2023-02-07,2023-02-21,S039-0304,270.0,270.0,50.0,14.0,Late
1,27559-0004-001,MANUAL PRESS BRAKE,PB,2023-01-02,2023-01-17,2023-01-23,S039-0304,40.0,40.0,21.0,6.0,Late
2,27559-0004-001,WRAP,WRAP,2023-01-02,2023-01-17,2023-01-23,S039-0304,40.0,40.0,21.0,6.0,Late
3,27560-0001-001,LASER CUTTING,LASER,2023-01-02,2023-01-24,2023-01-23,S039-0302,50.0,50.0,21.0,-1.0,On-time
4,27560-0001-001,MANUAL PRESS BRAKE,PB,2023-01-02,2023-01-24,2023-01-23,S039-0302,50.0,50.0,21.0,-1.0,On-time

In [17]:
query = '''SELECT jmo_process_id, COUNT(jmo_process_id) AS count_process_2023
FROM jobs
		INNER JOIN job_operations_2023 ON jobs.jmp_job_id = job_operations_2023.jmo_job_id
WHERE jmo_start_date>= '2023-01-01 00:00:00' AND jmo_start_date<= '2023-10-31 00:00:00'
GROUP BY jmo_process_id
ORDER BY count_process_2023 DESC'''

In [21]:
with engine.connect() as connection:
    metal_work_2023 = pd.read_sql(text(query),con = connection)

metal_work_2023.head(5)

  jmo_process_id  count_process_2023
0          LASER                9030
1           WRAP                7223
2             PB                6938
3          PCOAT                2222
4          PUNCH                1462

In [23]:
query = '''SELECT jmo_process_id, COUNT(jmo_process_id) AS count_process_2024
FROM jobs
		INNER JOIN job_operations_2024 ON jobs.jmp_job_id = job_operations_2024.jmo_job_id
WHERE jmo_start_date>= '2024-01-01 00:00:00' AND jmo_start_date<= '2024-10-31 00:00:00'
GROUP BY jmo_process_id
ORDER BY count_process_2024 DESC'''

In [25]:
with engine.connect() as connection:
    metal_work_2024 = pd.read_sql(text(query),con= connection)

metal_work_2024.head(5)

  jmo_process_id  count_process_2024
0          LASER               10157
1             PB                6222
2           WRAP                5157
3          PCOAT                2955
4           WELD                1427